@tailwind base;
@tailwind components;
@tailwind utilities;
@import "main_page";
@import "footer";
@import "header";
@import "vars";
@import "fonts";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: $mainColorBlack;
  text-decoration: none;
}

hr {
  background-color: black;
  border: 1px solid black;
  margin: 10px 0;
}

li {
  list-style-type: none;
}

nav,
footer,
header,
aside {
  display: block;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;

  &.active-header {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  }
}


body {
  font-family: "GraphikExtralight", sans-serif;
  line-height: 27px;
  font-weight: 300;
  background-color: $backgroundColor;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  color: $mainColorBlack;
  font-size: 18px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  margin-top: 72px;
}

[class*="__container"] {
  max-width: $maxWidthContainer;
  box-sizing: content-box;
  margin: 0 auto;

  @media (max-width: $md1) {
    max-width: 970px;
  }

  @media (max-width: $md2) {
    max-width: 750px;
  }

  @media (max-width: $md3) {
    max-width: none;
    padding: 0 10px;
  }

  @media (max-width: $md5) {
    padding: 0 8px;
  }
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: 'GraphikBlack';
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2563EB;
  font-family: "GraphikBlack";
}

.green-link {
  color: $mainColorGreen;
  transition: all .3s ease;
  &:hover{
    color: #41701E;
  }
}
.blue-link{
  color: #2563EB;
  transition: all .3s ease;

  &:hover {
    color: #0a296e;
  }
}