@font-face {
  font-family: "GraphikBlack";
  src: url("../fonts/GraphikBlack.otf");
  font-weight: 800;
}

@font-face {
  font-family: "GraphikSemibold";
  src: url("../fonts/GraphikSemibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "GraphikExtralight";
  src: url("../fonts/GraphikExtralight.otf");
  font-weight: 400;
}