@import "vars";
@import "fonts";

.footer {
  &__container {
    padding: 16px 16px 24px 16px !important;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    color: #6B7280;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-left: 16px;
  }
}