$minWidth: 320px; // мин размер
$maxWidth: 1920; // полотно
$maxWidthContainer: 1420px; // огранич контейнер
$md1: $maxWidthContainer+12px; // брейкпоинты для адаптива. сработает когда есть зазор
$md2: 1024px;
$md3: 800px;
$md4: 629px;
$md5: 480px;

$mainColorBlack: #111827;
$mainColorWhite: #ffffff;
$mainColorGreen: #6BA91A;
$backgroundColor: #E5E5E5;

@media (max-width: $md1) {
  //1182
}

@media (max-width: $md2) {
  //1024
}

@media (max-width: $md3) {
  //800
}

@media (max-width: $md4) {
  //629
}

@media (max-width: $md5) {
  //480
}